---
import BaseLayout from '../layouts/BaseLayout.astro';
import { sendEmailBySendgrid } from '../../services/sendEmail'
import ContactForm from '../components/ContactForm.astro'

const title = 'Contáctanos...';
const description = 'The perfect starter for your perfect blog.';
const permalink = `${Astro.site?.href}contact`;
export const prerender = false

if (Astro.request.method === 'POST') {
    try{
    // Getting posted data from our contact form
    const data = await Astro.request.formData();
    const res = await sendEmailBySendgrid(data);
    console.log(res);
  } catch (error) {
    console.error(error);
  }
}
---

<BaseLayout title={title} description={description} permalink={permalink}>
    <div class="home-container">
        <div class="home-copy">
            <ContactForm />
        </div>
        <div class="hero-image-container">
            <picture>
                <source srcset="/assets/together.png" media="(min-width: 600px)">
                <img class="hero-image" alt="Illustration of person reading a book" src="/assets/together.png">
            </picture>
            <p class="caption">
                Illustration by
            <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA" target="_blank" rel="noopener">Icons 8</a>
                from
            <a href="https://icons8.com/illustrations" target="_blank" rel="noopener">Ouch!</a>
            </p>
        </div>
    </div>
</BaseLayout>

<style>
    .home-container {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 0 0;
        min-height: 400px;
    }
    .home-copy {
        flex: 1;
        padding: 0 0em;
    }
    .home-copy h1 {
        font-weight: 700;
        margin-bottom: 0.5em;
        line-height: 1.3;
    }
    
    .hero-image-container {
        margin: 0 0;
        text-align: center;
    }


    @media (max-width: 1200px) {
        p {
            font-size: 1.2em;
        }
        
        .hero-image {
            max-width: 400px;
        }
    }

  @media (max-width: 800px) {
    .home-container {
        flex-direction: column;
    }

    .hero-image-container {
        padding-top: 3rem;
    }

    .home-copy {
        flex: 0;
        padding-bottom: 0;
        text-align: center;
    }
  }
</style>